.hk_map{
  height: 100%;
  .am-navbar-light{
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #f6f5f6;
    .icon-back{
      color: #333;
    }
    .am-navbar-title{
      color: #333;
    }
  }
  #container{
    height: 100%;
  }
}